body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.LandingPageContainer {
  background: linear-gradient(135deg, #FF6381, #5A52CC);
}

.homeContainer {
  width: 50vw;
  background-color: #81357d;
  margin: auto;
  padding: 2vh 1vw 15vh 1vw;
}

.artistsContainer, .songsContainer, .albumsContainer {
  width: 50vw;
}

.songsItems, .artistsItems, .albumsItems {
  width: 50vw;
  height: 31vh;
  display: flex;
  gap: 1rem;
}

.songCard, .albumCard, .artistCard {
  width: 11.5vw;
  height: 31vh;
  background: linear-gradient(135deg, #b53186, #ad4aa8);
}

.artistImg, .albumImg {
  width: 11.5vw;
  height: 24vh;
}

.createAlbumContainer {
  width: 50vw;
  margin: auto;
  padding: 10vh 1vw;
  padding-bottom: 30vh;
  background-color: #81357d;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.inputContainer {
  padding: 1vh 10vw;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #1DB954;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 1vw 2vh 1vw;
}

button:hover {
  background-color: #128c7e; /* Darker shade on hover */
}


.playbarContainer {
  background: linear-gradient(to right, #FF8C8C, #7C7CFF);
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  padding: 1vh;
}

.progressBar {
  background: #ddd; 
  height: 0.9vh; 
  border-radius: 1rem;
  width: 50%;
  margin: 1vh auto 0 auto;
  position: relative;
}

.progress {
  background: #6B6BFF; 
  border-radius: 1rem;
  height: 100%;
  width: 0; 
}

.playPauseButton {
  font-size: 1.5vw;
  cursor: pointer;
  padding: 1.5vh;
}

option {
  width: 40vw;
}